<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
          <form novalidate #form="ngForm" >
          
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>order_no</mat-label>
                <input matInput placeholder="enter order_no" #order_no="ngModel" name="order_no"  ngModel required>
              </mat-form-field>
              <div class="alert alert-danger" *ngIf="order_no.touched && order_no.invalid">
                <div *ngIf="order_no.errors && order_no.errors['required']">
                  <strong>order_no is required</strong>
                </div>
              </div>
  
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>sale</mat-label>
              <input matInput placeholder="enter sale" #sale="ngModel" name="sale" ngModel required>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="sale.touched && sale.invalid">
              <div *ngIf="sale.errors && sale.errors['required']">
                <strong>  sale is required.</strong>
              </div>
            </div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>orderquantity</mat-label>
              <input matInput placeholder="enter orderquantity" #orderquantity="ngModel" name="orderquantity" ngModel required>
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="orderquantity.touched && orderquantity.invalid">
              <div *ngIf="orderquantity.errors && orderquantity.errors['required']">
                <strong>  Last Name is required.</strong>
              </div>
            </div>

            <div class="d-grid">
                <label for="formFile" class="form-label">Upload file example</label>
                <input  class="form-control" type="file" (change)="this.onFilechange($event)" id="formFile" required>
                <button  type="button" class="btn btn-primary mt-3" (click)="upload(form.value)">Submit</button>
              </div>
            </form>
        </div>
      </div>
    </div>