<div fxLayout="row" fxLayoutAlign="center center">
    <mat-toolbar color="primary" fxLayout="row wrap" fxLayoutAlign="center center">
        <span class="example-spacer"></span>
        <button mat-flat-button color="primary" routerLink="/excel-format">excel_format</button>
        <button mat-flat-button color="primary" routerLink="/upload">Upload excel file</button>
        <button mat-flat-button color="primary" routerLink="/exceldata">excel file with data</button>
        <button mat-flat-button color="primary" routerLink="/getdata">get excel data</button>
        <button mat-flat-button color="primary" routerLink="/imgwithdata">Image with data</button>
        <button mat-flat-button color="primary" routerLink="/angularpagination">Angular pagination</button>

    </mat-toolbar>
</div>
<router-outlet></router-outlet>